:root {
  --color-main: #f68657;
  --color-text: #d6d1d1;
  --color-dark: #f5f6f7;
  --color-gray: #999;
  --color-bg: #1f2124;
  --color-lighter: #292a2c;
  --color-white: #2e3235;
  --color-border:#252629;

  --header-height: 10%;

  --menu-width: 1300px;
  --dish-width: 580px;

  --cart-width: 22%;
  --cart-offset_y: 78%;
}


.App {
    background-color: #1f2124;
    color: var(--color-text);
    width: 100%;
    overflow-x: hidden;
}

.AppContent {
    margin-top: 5%;
}

/* Header */

.Header {
    position: fixed;
    top: 0%;
    left: 0%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: var(--header-height);
    background-color: black;
    border-color: beige;
    border: 1%;
    border-style: solid;
    width: 100%;
}

.RestaurantLogo {
    min-width: 20%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.RestaurantName {
    text-align: center;
    margin: 5%
}

.HeaderMenu {
    display: flex;
    min-width: 50%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.HeaderMenuElement {
    text-align: center;
    width: 25%;
}

.HeaderMenuElement a:link {
    color: beige;
}

.HeaderMenuElement a:visited {
    color: beige;
}

.HeaderMenuElement a:hover {
    color: blanchedalmond;
}

.HeaderMenuElement a:active {
    color: beige;
}

/*Home */

.HomeVideoWrapper {

}

.HomeVideo {
    width: 184.046%;
    height: 100%;
    max-height: none;
    position: fixed;
    left: -42.0228%;
    top: 0px;
    pointer-events: none;
    overflow-x: hidden;
}

.HomePageContent {
    position: absolute;
    top: 100%;
    left: 20%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.HomeInfoContainer {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.HomeInfoPanel {
    display: flex;
    flex-direction: row;

    margin-bottom: 30px;

    border-color: beige;
    border: 1px;
    border-style: solid;
}

.HomeInfoPanelImage {
    height: 360px;
    width: 480px;
}

.HomeInfoPanelMain {
    width: 672px;
    display: flex;
    flex-direction: column;
    
    justify-content: flex-start;
    align-items: center;
    background-color: black;
}

.HomeInfoPanelTitle {
    color: beige;
}

.HomeInfoPanelContent {
    margin-left: 30px;
    margin-right: 30px;
}

.OpeningHoursPanel {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    background-color: black;

    width: 1152px;

    margin-bottom: 50px;

    border-color: beige;
    border: 1px;
    border-style: solid;
}

.OpeningHoursTitle {
    color: beige;
}

.OpeningHour {
    width: 100%;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    margin-bottom: 10px;
}

.Days {
    display: flex;
    text-align: left;

    margin-left: 20%;

    color: beige;
}

.Hours {
    display: flex;
    text-align: right;

    margin-right: 20%;
}

.ContactPanel {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    background-color: black;

    width: 1152px;

    margin-bottom: 50px;

    border-color: beige;
    border: 1px;
    border-style: solid;
}

.ContactHeader {
    color: beige;
}

.ContactRow {
    width: 100%;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    margin-bottom: 10px;
}

.ContactRowKey {
    display: flex;
    text-align: left;

    margin-left: 20%;

    color: beige;
}

.ContactRowValue {
    display: flex;
    text-align: right;

    margin-right: 20%;
}

.AddressHeader {
    color: beige;
}

.AddressContent {

}

/*Menu */

.MenuPage {
    top: 302px;
    padding: 0%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.MenuTitle {

}

.MenuContent {
    align-items: center;
    display: flex;
    flex-direction: column;

    text-align: center;
    
    justify-content: center;
    margin-right: 300px;
    width: var(--menu-width);
}

.FilterGroup {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    margin-bottom: 50px;
}

.FilterLabel {
    
}

.FilterRadio {
    
}

.DishesTypePanel {
    background-color: black;
    border-color: beige;
    border: 1%;
    border-style: solid;
    justify-content: center;
    width: var(--menu-width);
}

.DishesTypeName {

}

.DishesTypeImage {
    width: 100%;
}

.DishesList {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.Dish {
    display: flex;
    flex-direction: row;
    width: var(--dish-width);
    margin: 20px;
    height: 60px;
    padding: 5px;

    align-items: center;

    border-color: beige;
    border: 1px;
    border-style: solid;
}

.DishMain {
    display: flex;
    flex-direction: column;
    width: 540px;
    margin-right: 30px;
}

.DishHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 24px;
}

.DishName {

}

.DishPrice {

}

.DishFooter {
    width: 100%;
}

.DishAttributesList {
    height: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.DishAttribute {
    margin-right: 16px;
}

.Cart {
    position: fixed;
    top: 11%;
    left: var(--cart-offset_y);
    display: flex;
    background-color: black;
    justify-content: flex-start;
    flex-direction: column;
    width: var(--cart-width);
    border-color: beige;
    border: 1%;
    border-style: solid;

    text-align: center;
}

.CartPaymentButton {
    color: beige
}

.CartPaymentButton a:link {
    color: beige;
}

.CartPaymentButton a:visited {
    color: beige;
}

.CartPaymentButton a:hover {
    color: blanchedalmond;
}

.CartPaymentButton a:active {
    color: beige;
}

.DishInCart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin-bottom: 20px;

    border-top: 1px solid beige;
}

.DishInCartHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.DishInCartFooter {
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* Payment */

.PaymentPage {

}

.PaymentPageContent {
    margin-top: 100px;
    margin-bottom: 1200px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.AddressForm {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    text-align: center;

    width: 1152px;

    margin-top: 20px;
    margin-bottom: 20px;

    background-color: black;

    border-color: beige;
    border: 1%;
    border-style: solid;
}

.AddressFormRow {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    text-align: center;

    width: 720px;
}

.AddressFormName {
    display: flex;
}

.AddressFormElement {
    display: flex;
}

.AddressFormError {
    display: flex;

    text-align: end;
}

.AddressFormSubmit {
    display: flex;
    width: 100%;

    margin-bottom: 30px;

    align-self: center;
}