:root {
  --color-main: #f68657;
  --color-text: #d6d1d1;
  --color-dark: #f5f6f7;
  --color-gray: #999;
  --color-bg: #1f2124;
  --color-lighter: #292a2c;
  --color-white: #2e3235;
  --color-border:#252629;

  --header-height: 100px;
}


.App {
    background-color: var(--color-dark);
    color: var(--color-text)
}

/* Header */

.Header {
    background-color: red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: var(--header-height);
    gap: 2em;
}

.RestaurantLogo {
    background-color: blue;
    height: var(--header-height);
    min-width: 40%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.RestaurantName {
    background-color: purple;
    height: var(--header-height);
    text-align: center;
    min-width: 50%;
    max-width: 50%;
    margin: 5%
}

.HeaderMenu {
    background-color: green;
    display: flex;
    min-width: 40%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: var(--header-height);
}

.HeaderMenuElement {
    background-color: yellow;
    height: var(--header-height);
    text-align: center;
    min-width: 25%;
    max-width: 25%;
    margin: 5%;
    margin-top: 10%;
}

.HeaderMenuElement a:link {
    color: beige;
}

.HeaderMenuElement a:visited {
    color: beige;
}

.HeaderMenuElement a:hover {
    color: blanchedalmond;
}

.HeaderMenuElement a:active {
    color: beige;
}

/*Menu */

.MenuPage {

}

.MenuTitle {

}

.MenuContent {

}

.DishesTypePanel {

}

.DishesTypeName {

}

.DishesList {

}

.Dish {

}

.DishName {

}

.DishPrice {

}

.DishAttributesList {

}

.DishAttribute {

}